
td.bg {color: white;
  font: bold 1.2em/1.2em arial, verdana, sans-serif;
  font-size: 12pt;}

h2 {  font: bold 1.2em/1.2em arial, verdana, sans-serif;
  font-size: 16pt;}


body {
  margin: 20px;
  padding: 0px;
  background: #ffffff;
  font: 1em/1.2em  arial, verdana, sans-serif;
  font-size: 10pt;}

pre {text-indent: 30px}	

#tabmenu {
  color: #FFFFFF;
  border-bottom: 2px solid black;
  margin: 12px 0px 0px 0px;
  padding: 0px;
  z-index: 1;
  padding-left: 10px }

#tabmenu li {
  display: inline;
  overflow: hidden;
  list-style-type: none; }	

#tabmenu a, a.active {
  color: #ffffff;
  background: #0066cc;
  font: bold 1.2em/1.2em arial, verdana, sans-serif;
  border: 2px solid black;
  padding: 5px 5px 0px 5px;
  margin: 0px;
  text-decoration: none; }


#tabmenu a.active {
  background: #FFFFFF;
  color: #0066cc;
  border-bottom: 3px solid #FFFFFF; }

#tabmenu a:visited {
  color: #FFFFFF; }

#tabmenu a:hover {
  background: #FFFFFF; 
  color: #0066cc; }	

#tabmenu a.active:visited {
  color: #003388;}

#tabmenu a.active:hover {
  color: #0066cc;}


#content {
  color: black;
  background: white;
  text-align: justify;
  padding: 20px;
  border: 2px solid black;	
  border-top: none;
  z-index: 2;	}

#content a {
  color: #0066cc;
  text-decoration: none; }

#content a:visited {
  color: #003388;}

#content a:hover {
  color: #0066cc;}

.pub_table {
  color: white;
  border:0px;
  background: #0066cc;
  width:100%;
  margin-bottom: 2px;
}
